body{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    cursor: url("../icons8-hand-cursor-gradient/icons8-hand-cursor-64.png"), auto;  
}

#back_link{
    text-decoration: none;
}
.button{
    margin: 2%;
    margin-top: 3%;
    height: 8vh;
    min-height: 50px;
    width: 12vw;
    min-width: 175px;
    border-color: transparent;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 900;
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
.button:hover{
    height: 6vh;
    width: 10vw;
    background-color: black;
    cursor: url("../icons8-hand-cursor-gradient/icons8-hand-cursor-96.png"), auto; /*made by https://icons8.com/icon/48170/hand-cursor*/
}
@media screen and (max-width: 250px) {
    button.button {
    font-size: 8vh;
    min-height: 35px;
    min-width: 140px;
    }
}
#game_div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vh;
    font-weight: 900;
}
@media screen and (max-width: 600px) {
    div#game_div {
    font-size: 10vh;
    }
}
@media screen and (max-width: 250px) {
    div#game_div {
    font-size: 16vh;
    }
}
#txt_3{
    display: none;
}
#txt_2{
    display: none;
}
#txt_1{
    display: none;
}
#txt_bumm{
    display: none;
}

#colors{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;

}
.color{
    height: 8vh;
    width: 8vh;
    margin: 3%;
}
@media screen and (max-width: 600px) {
    div.color {
        height: 6vh;
        width: 6vh;
    }
}
@media screen and (max-width: 250px) {
    div.color {
        height: 10vh;
        width: 10vh;
    }
}

