body{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    cursor: url("./icons8-hand-cursor-gradient/icons8-hand-cursor-64.png"), auto;
}
.header{
    color: white;
    font-size: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out; 
}
.header:hover{
    color: black;
} 
#start_link{
    text-decoration: none;
}
#button_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    background-color: white;
    border-color: transparent;
    border-radius: 20px;
    height: 18vh;
    width: 22vw;
    color: black;
    font-size: 10vh;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out; 
}  
#button:hover{
    height: 16vh;
    width: 20vw;
    background-color: black;
    cursor: url("./icons8-hand-cursor-gradient/icons8-hand-cursor-96.png"), auto; /*made by https://icons8.com/icon/48170/hand-cursor*/
}

